.auth-img {
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.auth-img::before {
    content: "";
    position: absolute;
    height: 84%;
    width: 105%;
    z-index: -1;
    bottom: -15%;
    left: 10%;
    background: var(--red-pale);
}

.auth-img span {
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding: 0.2rem;
    font-family: "Poppins";
    font-weight: 600;
    transition: opacity 0.5s, transform 0.5s;

}