:root {
    --red: #EA322D;
    --red-pale: #f8645f;
    --red-light: #E08C90;
    --blue: #131C50;
    --blue-light: #324487;
    --blue-pale: #324487;
    --dark: #301D36;
    --gray: #8C9CB4;
    --gray-pale: #b0bae2;
}