@import url("./colors.css");

.dvh100 {
    min-height: 100dvh;
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color: #e3e7ffe4;
}

.section {
    scroll-snap-align: center;
}