@import url("./colors.css");



body {
    scroll-behavior: smooth;
    background-color: #e3e7ffe4;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    scrollbar-width: thin;

    scrollbar-color: #6b6fbf #e3e7ffe4;

}

body::-webkit-scrollbar {
    width: 12px;

}

body::-webkit-scrollbar-track {
    background: #e3e7ffe4;

}

body::-webkit-scrollbar-thumb {
    background-color: #6b6fbf;
    /* Scrollbar thumb color */
    border-radius: 6px;
    /* Roundness of the scrollbar thumb */
    border: 2px solid #e3e7ffe4;
    /* Padding around the thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4a4f9f;
    /* Thumb color on hover */
}

body::-webkit-scrollbar-thumb:active {
    background-color: #3b3f8f;
    /* Thumb color on click */
}

.dvh100 {
    min-height: 100dvh;
    position: relative;
}

.section {
    scroll-snap-align: start;

}

.threed-look {
    background: linear-gradient(145deg, #f5f1fa, #ebe7ef);
    box-shadow: -4px -4px 8px #ffffff, 4px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
}

.threed-look:hover {
    box-shadow: -6px -6px 12px #ffffff, 6px 6px 16px rgba(0, 0, 0, 0.15);
}

.top-divider {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23050F59"><path d="M0 0v99.7C62 69 122.4 48.7 205 66c83.8 17.6 160.5 20.4 240-12 54-22 110-26 173-10a392.2 392.2 0 0 0 222-5c55-17 110.3-36.9 160-27.2V0H0Z" opacity=".5"></path><path d="M0 0v74.7C62 44 122.4 28.7 205 46c83.8 17.6 160.5 25.4 240-7 54-22 110-21 173-5 76.5 19.4 146.5 23.3 222 0 55-17 110.3-31.9 160-22.2V0H0Z"></path></svg>');
    background-size: 100%;

    background-position: top;
    background-repeat: no-repeat;
}

.top-divider-2 {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23E3E7FFFF"><path d="M0 0v100c166.7 0 166.7-66 333.3-66S500 77 666.7 77 833.3 28 1000 28V0H0Z" opacity=".5"></path><path d="M0 0v100c166.7 0 166.7-66 333.3-66S500 70 666.7 70 833.3 16 1000 16V0H0Z" opacity=".5"></path><path d="M0 0v100c166.7 0 166.7-66 333.3-66S500 63 666.7 63 833.3 4 1000 4V0H0Z"></path></svg>');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.top-divider-3 {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23F4F4F7FF"><path d="M0 0h1000v4H0z"></path><path d="M0 0h1000v80.8S550 100 500 100 0 80.8 0 80.8V0Z" opacity=".2"></path><path d="M0 0h1000v61.6S600 100 500 100 0 61.6 0 61.6V0Z" opacity=".3"></path><path d="M0 0h1000v42.4S650 100 500 100 0 42.4 0 42.4V0Z" opacity=".4"></path><path d="M0 0h1000v23.2S700 100 500 100 0 23.2 0 23.2V0Z" opacity=".5"></path><path d="M0 0v4s250 96 500 96 500-96 500-96V0H0Z"></path></svg>');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.fist-bg {
    background-color: #4032C2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%234032C2' cx='50' cy='0' r='50'/%3E%3Cg fill='%235139c4' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f3fc7' cx='50' cy='100' r='50'/%3E%3Cg fill='%236c47c9' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23784ecc' cx='50' cy='200' r='50'/%3E%3Cg fill='%238355cf' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%238d5dd1' cx='50' cy='300' r='50'/%3E%3Cg fill='%239765d4' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a06dd7' cx='50' cy='400' r='50'/%3E%3Cg fill='%23a975da' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b27edc' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ba86e0' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c28ee3' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ca97e6' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d2a0e9' cx='50' cy='700' r='50'/%3E%3Cg fill='%23d9a9ec' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e0b2f0' cx='50' cy='800' r='50'/%3E%3Cg fill='%23e7bbf4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23edc4f7' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f4cefb' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FAD7FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.card-divider {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23FFFFFFFF"><path d="M0 0v60c9 0 18-3 25-10 13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s37 13 50 0c14-14 37-14 50 0 7 7 16 10 25 10V0H0Z"></path></svg>');
    /* background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23FFFFFF"><path d="m0 4 150 40h160l190 50 190-50h160l150-40V0H0v4z"></path></svg>'); */
    /* background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%232426A2"><path d="m0 4 150 40h160l190 50 190-50h160l150-40V0H0v4z"></path></svg>'); */
    /* background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%23131457"><path d="M0 0v60c9 0 18-3 25-10 13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s37 13 50 0c14-14 37-14 50 0 7 7 16 10 25 10V0H0Z"></path></svg>'); */
    background-size: 100%;
    bottom: 0;
    background-position: bottom;

    background-repeat: no-repeat;
}

.bg-blur {
    backdrop-filter: blur(5px);
}

.bg-shapes {
    background-color: var(--blue);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F12FFF'/%3E%3Cstop offset='1' stop-color='%230200FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(166,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FF3C45'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='13.2'%3E%3Cpath transform='translate(-38.15 -12) rotate(-13.05 1409 581) scale(0.8952229999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4.4' transform='translate(-99.5 44) rotate(-5.300000000000001 800 450) scale(0.985928)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-19.599999999999998 34.5) rotate(-71.5 401 736) scale(0.985928)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(264 19.4) rotate(-4.85 150 345) scale(1.029741)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8.8' transform='translate(27.5 -128.5) rotate(-107.99999999999999 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-56.8 -0.8000000000000007) rotate(-18 1400 132) scale(0.815)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.text-ellipis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.dots-bg {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(219,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230E007E'/%3E%3Cstop offset='1' stop-color='%234B030C'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23FFFFFF' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.05'/%3E%3C/svg%3E");
    background-attachment: fixed;
}